@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg: #0A0C0D;
    --color-border: #e5e7eb;
    --color-sidebar-item: #101214;

    --background: 217.5 22.2% 7.1%;
    --foreground: 210 40% 98%;
 
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
 
    --popover: 223 84% 5%;
    --popover-foreground: 210 40% 98%;
 
    --card: 223 84% 5%;
    --card-foreground: 210 40% 98%;
 
    --border: 217 33% 17%;
    --input: 217 33% 17%;
 
    --primary:150.7 100% 26.5%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 215 15% 15%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 215 15% 15%;
    --destructive-foreground: 3 93% 63%;
 
    --ring: 217 33% 17%;
  }
 
  .dark {
    --color-bg: #0A0C0D;
    --color-border: #e5e7eb;
    --color-sidebar-item: #101214;

    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: ;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --ring: 217.2 32.6% 17.5%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.leaflet-pane {
  z-index: 1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #101214;
  font-family: "Roboto", sans-serif;
}

.layout {
  display: flex;
  height: 100vh;
  position: relative;
  gap: 2rem;
}

.layout__main-content {
  flex-grow: 1;
}

.sidebar {
  width: 6em;
  height: 100%;
  background-color: var(--color-bg);
  padding: 1rem;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);
  overflow: hidden;
  border-right: 2px solid #26282A;
}

.sidebar__top {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.sidebar__logo {
  width: 3.2rem;
  height: 3.2rem;
}

.sidebar__list {
  list-style: none;
}

.sidebar__link {
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
  color: #505051;
  padding: 1rem 1rem;
  display: flex;
  margin-bottom: 1rem;
}

.sidebar__link:active {
  background-color: #101214;
  width: auto;
  height: auto;
}

.sidebar__icon {
  display: inline-block;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.sidebar__name {
  margin-left: 0.5rem;
}

.bg-login {
  background-color: #26282A;
  color: #f3f3f3;
  text-align: center;
  width: 400px;
  height: auto;
  border-radius: 10px;
}

.login-logo {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

}

.wider-input {
  width: 100%;
  padding: 13px;
  border-radius: 5px;
  color: #505051;
}

h1 {
  color: #fff;
  font-size: x-large;
  padding-top: 1rem;
  margin-top: 1rem;
}

.color_linha {
  background-color: #26282A;
}

.bg-card {
  background-color: #26282A;
  border-radius: 5px;
}

.bg-card2{
  background-color: #26282A;
  border:none;
}
.color-card {
  color: #828282;
}