@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #0A0C0D;
  --color-border: #e5e7eb;
  --color-sidebar-item: #101214;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #101214;
  font-family: "Roboto", sans-serif;
}

.layout {
  display: flex;
  height: 100vh;
  position: relative;
  gap: 2rem;
  width: 100%
}

.layout__main-content {
  flex-grow: 1;
  width: 100%
}

.sidebar {
  width: 6em;
  height: 100%;
  background-color: var(--color-bg);
  padding: 1rem;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);
  overflow: hidden;
  border-right: 2px solid #26282A;
}

.sidebar__top {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.sidebar__logo {
  width: 3.2rem;
  height: 3.2rem;
}

.sidebar__list {
  list-style: none;
}

.sidebar__link {
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
  color: #505051;
  padding: 1rem 1rem;
  display: flex;
  margin-bottom: 1rem;
}

.sidebar__link:active {
  background-color: #101214;
  width: auto;
  height: auto;
}

.sidebar__icon {
  display: inline-block;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.sidebar__name {
  margin-left: 0.5rem;
}

.bg-login {
  background-color: #26282A;
  color: #f3f3f3;
  text-align: center;
  width: 400px;
  height: auto;
  border-radius: 10px;
}

.login-logo {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

}

.wider-input {
  width: 100%;
  padding: 13px;
  border-radius: 5px;
  color: #505051;
}

p {
  color: #fff;
}

h1 {
  color: #fff;
  font-size: x-large;
  padding-top: 1rem;
  margin-top: 1rem;
}

h2 {
  color: #fff;
  font-size: x-large;
  /* padding-top: 1rem;
  margin-top: 1rem; */
}

.color_linha {
  background-color: #26282A;
}

.bg-card {
  background-color: #26282A;
  border-radius: 5px;
}

.bg-card2{
  background-color: #26282A;
  border:none;
}
.color-card {
  color: #828282;
}

.color-t {
  color: white;
}